<% content_for :title, "#{@cocktail.name} | Mister Cocktail" %>

<div class="text-center">
<div class="cocktail-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cocktail_image(@cocktail.photos.first) %>);">
  <div>
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
</div>

<% @cocktail.doses.each do |dose| %>


  <div class='dose-body'>
    <h3><%= dose.ingredient.name.upcase %></h3>
    <p><%= dose.description %> <%= link_to "", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" }, class: "fa fa-trash font-small" %></p>
  </div>
<% end %>
<%= link_to "View all cocktails", cocktails_path, class: "btn btn-primary btn-top" %>


<div class="form-dose">
<%= render "doses/new", cocktail: @cocktail, dose: @dose, ingredients: @ingredients %>
</div>

<br>
